<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<title>Assignment-1</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
</head>
<body ng-app="assignmentOneApp">

<div class="container" ng-controller="assignmentOneController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="pizza,beer,chicken wings"
             class="form-control"
             ng-model="foodItems">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkIfTooMuch()">Check If Too Much</button>
         </div>
         <div class="form-group message">
           {{outputMessage}}
         </div>
   </div>

</body>
</html>